body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(191, 252, 255, 77%), rgba(229, 198, 255, 77%)) center no-repeat, url("../img/leaves-background.jpg") center no-repeat;
  background-size: cover;
}

.shadow {
  border-width: 2px;
  border-style: solid;
  border-color: #FFF #000 #000 #FFF;
  box-shadow: 0 0 0 1px #707070;
}

.main-container {
  background-color: #CED4DA;
  width: 60%;
  min-width: 550px;
}

header {
  margin: 0;
  background-image: linear-gradient(90deg, #0085A5 60%, #99EBFF);
  color: #FFF;
  border: 1px #707070 solid;
}

header p {
  margin: .5rem 1rem;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  color: #0098A4;
}

.button-section {
  background: url("../img/marble.jpg") center no-repeat;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.size-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.size-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.size-button-container button {
  width: 33%;
}

.color-section {
  margin: 3rem 0;
}

.size-section p,
.color-section p {
  margin-top: 0;
  font-weight: bold;
  width: 100%;
}

.color-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

button {
  background-color: #CED4DA;
  border-radius: 0;
  color: #0098A4;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  font-size: 1rem;
  padding: .3rem;
  cursor: pointer;
}

button:active {
  transform: scale(.95);
}

span {
  text-decoration: underline;
}

.color-button-container button {
  width: 50%;
}


.grid-container {
  width: 500px;
  background-image: linear-gradient(135deg, #8eecf5, #9381ff);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: wrap;
  gap: 1px;
  padding: 1px;
}


.epilogue {
  position: absolute;
  bottom: 0;
  color: #0085A5;
  font-weight: bold;
}



/*Active States*/

.active {
  background-color: #E8ECED;
  border-width: 2px;
  border-style: solid;
  border-color: #000 #FFF #FFF #000;
  box-shadow: 0 0 0 1px #707070;
}



/*Grid styling*/

.square {
  background-color: #FFF;
  margin: 0;
}
